i.shape.left1
  img.left(src="../../images/png/shapes/left-1.png")
i.shape.left2
  img.right(src="../../images/png/shapes/left-2.png")
i.shape.left3
  img.left-2(src="../../images/png/shapes/left-3.png")
i.shape.left4
  img.right-2(src="../../images/png/shapes/left-4.png")
i.shape.left5
  img.left(src="../../images/png/shapes/left-5.png")
i.shape.left6
  img.right(src="../../images/png/shapes/left-6.png")
i.shape.left7
  img.left(src="../../images/png/shapes/left-7.png")
i.shape.left8
  img.left-2(src="../../images/png/shapes/left-8.png")

i.shape.right1
  img.left(src="../../images/png/shapes/right-1.png")
i.shape.right3
  img.left-1(src="../../images/png/shapes/right-3.png")
i.shape.right4
  img.right-2(src="../../images/png/shapes/right-4.png")
i.shape.right6
  img.right(src="../../images/png/shapes/right-6.png")
i.shape.right7
  img.left-2(src="../../images/png/shapes/right-7.png")
i.shape.right8
  img.right-2(src="../../images/png/shapes/right-8.png")
i.shape.right10
  img.right(src="../../images/png/shapes/right-10.png")
i.shape.right11
  img.left-2(src="../../images/png/shapes/right-11.png")
i.shape.right12
  img.right-2(src="../../images/png/shapes/right-12.png")
i.shape.right13
  img.left(src="../../images/png/shapes/right-13.png")
i.shape.right14
  img.right(src="../../images/png/shapes/right-14.png")
i.shape.right15
  img.left-2(src="../../images/png/shapes/right-15.png")