i.shape.left1
  img.l1.right(src="../../images/svg/shapes/left-1.svg")
i.shape.left2
  img.l2.right(src="../../images/svg/shapes/left-2.svg")
i.shape.left3
  img.l5.left-2(src="../../images/svg/shapes/left-5.svg")
i.shape.left4
  img.l4.left-4(src="../../images/svg/shapes/left-4.svg")
i.shape.left6
  img.l6.right(src="../../images/svg/shapes/left-6.svg")
i.shape.left9
  img.l9.right-2(src="../../images/svg/shapes/left-9.svg")
i.shape.left7
  img.r13.left(src="../../images/svg/shapes/right-13.svg")
i.shape.left8
  img.l8.left(src="../../images/svg/shapes/left-7.svg")
i.shape.left10
  img.l10.left-2(src="../../images/svg/shapes/left-8.svg")

i.shape.right1
  img.r1.right-2(src="../../images/svg/shapes/right-1.svg")
i.shape.right3
  img.r3.left(src="../../images/svg/shapes/right-3.svg")
i.shape.right4
  img.r13.right-2(src="../../images/svg/shapes/right-13.svg")
i.shape.right5
  img.r5.left(src="../../images/svg/shapes/right-4.svg")
i.shape.right6
  img.r6.right(src="../../images/svg/shapes/right-6.svg")
i.shape.right7
  img.r13.left-2(src="../../images/svg/shapes/right-13.svg")
i.shape.right8
  img.r7.left-2(src="../../images/svg/shapes/right-7.svg")
i.shape.right9
  img.r9.left-2(src="../../images/svg/shapes/right-5.svg")
i.shape.right10
  img.r10.left-2(src="../../images/svg/shapes/right-9.svg")
i.shape.right13
  img.r13.left(src="../../images/svg/shapes/right-13.svg")
i.shape.right14
  img.r14.right-2(src="../../images/svg/shapes/right-13.svg")
i.shape.right15
  img.r15.left(src="../../images/svg/shapes/right-13.svg")
i.shape.right16
  img.r16.right(src="../../images/svg/shapes/right-13.svg")
i.shape.right17
  img.r17.left-2(src="../../images/svg/shapes/right-13.svg")