.header
  .global-container.header-container
    .container
      .row
        .col-lg-2.col-md-2.col-sm-2.col-xs-8
          a.icon-logo(href="index.html")
        .col-lg-10.col-md-10.col-sm-10.col-xs-4
          ul.menu
            li.active
              a(href="index.html") Products
            li
              a(href="services.html") Services
            li
              a(href="solutions.html")  Solutions
            li
              a(href="contact.html") Contacts
      i.icon-hamburger