.header
  .global-container.header-container
    .container
      .row
        .col-lg-2.col-md-2.col-sm-2.col-xs-8
          a.icon-logo(href="index.html")
        .col-lg-10.col-md-10.col-sm-10.col-xs-4
          ul.menu
            li(class=(activeItem === 'homepage') ? 'active' : '')
              a(href="index.html") Products
            li(class=(activeItem === 'services') ? 'active' : '')
              a(href="services.html") Services
            li(class=(activeItem === 'solutions') ? 'active' : '')
              a(href="solutions.html")  Solutions
            li(class=(activeItem === 'career') ? 'active' : '')
              a(href="career.html") Career
            li(class=(activeItem === 'contact') ? 'active' : '')
              a(href="contact.html") Contact
      i.icon-hamburger