extends layout/layout.pug
block variables
  - var activeMenu = 'career'
block content
  .page-container.car
    .career-container
      .container.career
        .col-lg-12.col-md-12.col-sm-12.col-xs-12.title-container
          .title Be Part Of Our Team
        .col-lg-6.col-md-6.col-sm-12.col-xs-12.no-padding
          .desc
            | We keep our team small, but awesome. We will work locally or remotely, at a coffee shop or at our office. What matters is the quality of our work to always exceed the highest standarts. Our people are experienced, talented and hard working individuals who believe in excellence. Could you be one of them?
        .col-lg-6.col-md-6.col-sm-12.col-xs-12.no-padding
          .image
            img(src="../../images/join.png")