extends layout/layout.pug
block content
  .container.contact
    .page-container
      .col-lg-3.col-md-3.col-sm-12.col-xs-12
        .caption.m48 Contacts
      .col-lg-9.col-md-9.col-sm-12.col-xs-12
        .content.m48
          p We’d like to hear from you.
          p hello@orfs.com.tr
        .adresses.m24
          .col-lg-4.adress-column
            .phone +90 212 264 0909
            .adress.m8
              span ORFS Group
              span 4. Levent Org. İzzettin Aksalur Cad.
              span No: 10D/7 34330 Beşiktaş/İstanbul
          .col-lg-4.adress-column
            .phone +61 447 921 751
            .adress.m8
              span ORFS Group
              span 407/116 Joynton Ave. Zetland
              span 2017 Sydney / Nsw State
          .col-lg-4.adress-column
            .phone Social Media
            .social.m8
              ul
                li
                  a.facebook(href="javascript:;" target="_blank")
                li
                  a.twitter(href="javascript:;" target="_blank")
                li
                  a.linkedin(href="javascript:;" target="_blank")
  .contact-bottom
    img.bottom-image(src="../../images/contact-bottom.png")
  .contact-right
    img.bottom-image(src="../../images/contact-right.png")