extends layout/layout.pug
block variables
  - var activeMenu = 'homepage'
block content
  .homepage
    include partial/animate-bg
    .container
      .page-container
        #pageTitle
          .text-center.small-text
            | Connecting creative, knowledge and commerce to transform brands and grow businesses.
          .caption
            | Featured Works
        .content-area
          .shapes 
            span.first W
              span.hide-text.none-visible ISITOR
            canvas#w(width="130" height="190")
          .shapes
            span.first V
              span.hide-text.none-visible OSU
            canvas#v(width="130" height="190")
          .shapes
            span.first N
              span.hide-text.none-visible otion's 
              span.shapes-small M
              span.hide-text.none-visible otion
            canvas#n(width="130" height="190")
          .shapes
            span.first T
              span.hide-text.none-visible ASKNIGHT
            canvas#t(width="130" height="190")

        .w-content
          p Wisitor is a new age marketing tool and web based CRM utilizing the already in use Wi-Fi networks of businesses and corporations and transforming it into a social Wi-Fi.
          p
            ul.home-list
              li Fast and secure internet connection
              li Social Wi-Fi
              li Statistics management    
              li Un disturbed comminications network
              li Social trends analysis
          .triangles
            img(class="t-1 right" src="../../images/png/triangles/1.png")
            img(class="t-2 right" src="../../images/png/triangles/2.png")
            img(class="t-3 right-2" src="../../images/png/triangles/3.png")
            img(class="t-4 left" src="../../images/png/triangles/4.png")
            img(class="t-5 right" src="../../images/png/triangles/5.png")
            img(class="t-8 right-2" src="../../images/png/triangles/8.png")
            img(class="t-9 left-2" src="../../images/png/triangles/9.png")
            img(class="t-10 left" src="../../images/png/triangles/10.png")
            img.logo(src="../../images/png/triangles/w.png")
          i.icon-back

        .v-content
          p Vosu is a smart TV peripheral with a specialized interface that is based on the Android operating system. Vosu Smart Home is a hardware and software integrated system that eases the life of an end user and also an early warning system for natural disastrous.
          p
            ul.home-list
              li Android & Smart TV
              li Digital Integration
              li Smart Home Systems   
              li Domotics
              li Total Home Solutions
          .triangles
            img(class="t-1 right" src="../../images/png/triangles/1.png")
            img(class="t-2 right" src="../../images/png/triangles/2.png")
            img(class="t-3 right-2" src="../../images/png/triangles/3.png")
            img(class="t-4 left" src="../../images/png/triangles/4.png")
            img(class="t-5 right" src="../../images/png/triangles/5.png")
            img(class="t-8 right-2" src="../../images/png/triangles/8.png")
            img(class="t-9 left-2" src="../../images/png/triangles/9.png")
            img(class="t-10 left" src="../../images/png/triangles/10.png")
            img.logo(src="../../images/png/triangles/v.png")
          i.icon-back

        .n-content
          p With Notion’s Motion you can search for producers for your video production ideas or regardless of wherever you are you can find a production group that is inclined to your production idea. Notion’s Motion is a production market and an online project management platform.
          p
            ul.home-list
              li Video Production Marketplace
              li Project Management
              li Independent Film Making  
              li Animation Studio
              li Script Engine
          .triangles
            img(class="t-1 right" src="../../images/png/triangles/1.png")
            img(class="t-2 right" src="../../images/png/triangles/2.png")
            img(class="t-3 right-2" src="../../images/png/triangles/3.png")
            img(class="t-4 left" src="../../images/png/triangles/4.png")
            img(class="t-5 right" src="../../images/png/triangles/5.png")
            img(class="t-8 right-2" src="../../images/png/triangles/8.png")
            img(class="t-9 left-2" src="../../images/png/triangles/9.png")
            img(class="t-10 left" src="../../images/png/triangles/10.png")
            img.logo(src="../../images/png/triangles/n.png")
          i.icon-back

        .t-content
          p Tasknight is an AI project developed to categorize and store your scattering ideas during the day. Categorizes your notes under the corresponding emotions and when you are in the suitable mood, reminds you.
          p
            ul.home-list
              li Artificial Intelligence
              li Mobile App
              li Emotion Recognation 
              li Deep Learning
              li Task Management
          .triangles
            img(class="t-1 right" src="../../images/png/triangles/1.png")
            img(class="t-2 right" src="../../images/png/triangles/2.png")
            img(class="t-3 right-2" src="../../images/png/triangles/3.png")
            img(class="t-4 left" src="../../images/png/triangles/4.png")
            img(class="t-5 right" src="../../images/png/triangles/5.png")
            img(class="t-8 right-2" src="../../images/png/triangles/8.png")
            img(class="t-9 left-2" src="../../images/png/triangles/9.png")
            img(class="t-10 left" src="../../images/png/triangles/10.png")
            img.logo(src="../../images/png/triangles/t.png")
          i.icon-back
