extends layout/layout.pug
block content
  .container.services
    include partial/animate-bg

    .page-container
      .col-lg-3.col-md-3.col-sm-12.col-xs-12
        .caption.m48 What We Do
      .col-lg-9.col-md-9.col-sm-12.col-xs-12
        .content.m48
          p Orfs is a creative agency with a digital understanding.We create brands, experiences, enticing videos and any type of customer interaction.
          p From early stages of an idea to the very last step in the development Orfs integrates assets for valuable customer engagement.
        .content.m48
          ul.services-list
            li.m8 Project Management
            li.m8 Video & Animation
            li.m8 Production
            li.m8 Web Design & Development
            li.m8 User Experience Design
            li.m8 E-Commerce
            li.m8 Crafts & Design
            li.m8 CRM
