extends layout/layout.pug
block variables
  - var activeMenu = 'solutions'
block content
  .container.services
    include partial/animate-bg
    .page-container
      .col-lg-3.col-md-3.col-sm-12.col-xs-12
        .caption.m48 How We Do It
      .col-lg-9.col-md-9.col-sm-12.col-xs-12
        .content.m48
          p Orfs is a consultancy agency with real life goals.<br>We design applications, investments, business plans, market reactions.<br>From early insight and strategy to premium desing and development we cater to our clients’ every need.
        .content.m48
          ul.services-list
            li.m8 Mobile & Web Applications
            li.m8 Customer Relations
            li.m8 Creative Consultancy
            li.m8 Tech Investment Strategies
            li.m8 Creative Planning
            li.m8 Business IT Solutions & Directions
            li.m8 Way Finding & Signage