// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$back-name: 'back';
$back-x: 1943px;
$back-y: 966px;
$back-offset-x: -1943px;
$back-offset-y: -966px;
$back-width: 40px;
$back-height: 22px;
$back-total-width: 2021px;
$back-total-height: 1816px;
$back-image: 'sprite.png';
$back: (1943px, 966px, -1943px, -966px, 40px, 22px, 2021px, 1816px, 'sprite.png', 'back', );
$chrome-name: 'chrome';
$chrome-x: 0px;
$chrome-y: 1304px;
$chrome-offset-x: 0px;
$chrome-offset-y: -1304px;
$chrome-width: 512px;
$chrome-height: 512px;
$chrome-total-width: 2021px;
$chrome-total-height: 1816px;
$chrome-image: 'sprite.png';
$chrome: (0px, 1304px, 0px, -1304px, 512px, 512px, 2021px, 1816px, 'sprite.png', 'chrome', );
$close-name: 'close';
$close-x: 1997px;
$close-y: 966px;
$close-offset-x: -1997px;
$close-offset-y: -966px;
$close-width: 14px;
$close-height: 14px;
$close-total-width: 2021px;
$close-total-height: 1816px;
$close-image: 'sprite.png';
$close: (1997px, 966px, -1997px, -966px, 14px, 14px, 2021px, 1816px, 'sprite.png', 'close', );
$facebook-name: 'facebook';
$facebook-x: 1855px;
$facebook-y: 1006px;
$facebook-offset-x: -1855px;
$facebook-offset-y: -1006px;
$facebook-width: 29px;
$facebook-height: 29px;
$facebook-total-width: 2021px;
$facebook-total-height: 1816px;
$facebook-image: 'sprite.png';
$facebook: (1855px, 1006px, -1855px, -1006px, 29px, 29px, 2021px, 1816px, 'sprite.png', 'facebook', );
$favicon-name: 'favicon';
$favicon-x: 1826px;
$favicon-y: 1035px;
$favicon-offset-x: -1826px;
$favicon-offset-y: -1035px;
$favicon-width: 27px;
$favicon-height: 30px;
$favicon-total-width: 2021px;
$favicon-total-height: 1816px;
$favicon-image: 'sprite.png';
$favicon: (1826px, 1035px, -1826px, -1035px, 27px, 30px, 2021px, 1816px, 'sprite.png', 'favicon', );
$hamburger-name: 'hamburger';
$hamburger-x: 1903px;
$hamburger-y: 966px;
$hamburger-offset-x: -1903px;
$hamburger-offset-y: -966px;
$hamburger-width: 40px;
$hamburger-height: 27px;
$hamburger-total-width: 2021px;
$hamburger-total-height: 1816px;
$hamburger-image: 'sprite.png';
$hamburger: (1903px, 966px, -1903px, -966px, 40px, 27px, 2021px, 1816px, 'sprite.png', 'hamburger', );
$linkedin-name: 'linkedin';
$linkedin-x: 1826px;
$linkedin-y: 1006px;
$linkedin-offset-x: -1826px;
$linkedin-offset-y: -1006px;
$linkedin-width: 29px;
$linkedin-height: 29px;
$linkedin-total-width: 2021px;
$linkedin-total-height: 1816px;
$linkedin-image: 'sprite.png';
$linkedin: (1826px, 1006px, -1826px, -1006px, 29px, 29px, 2021px, 1816px, 'sprite.png', 'linkedin', );
$location-name: 'location';
$location-x: 1983px;
$location-y: 966px;
$location-offset-x: -1983px;
$location-offset-y: -966px;
$location-width: 14px;
$location-height: 20px;
$location-total-width: 2021px;
$location-total-height: 1816px;
$location-image: 'sprite.png';
$location: (1983px, 966px, -1983px, -966px, 14px, 20px, 2021px, 1816px, 'sprite.png', 'location', );
$logo-name: 'logo';
$logo-x: 1826px;
$logo-y: 966px;
$logo-offset-x: -1826px;
$logo-offset-y: -966px;
$logo-width: 77px;
$logo-height: 40px;
$logo-total-width: 2021px;
$logo-total-height: 1816px;
$logo-image: 'sprite.png';
$logo: (1826px, 966px, -1826px, -966px, 77px, 40px, 2021px, 1816px, 'sprite.png', 'logo', );
$n-group-name: 'n-group';
$n-group-x: 1440px;
$n-group-y: 483px;
$n-group-offset-x: -1440px;
$n-group-offset-y: -483px;
$n-group-width: 581px;
$n-group-height: 483px;
$n-group-total-width: 2021px;
$n-group-total-height: 1816px;
$n-group-image: 'sprite.png';
$n-group: (1440px, 483px, -1440px, -483px, 581px, 483px, 2021px, 1816px, 'sprite.png', 'n-group', );
$page-bg-name: 'page-bg';
$page-bg-x: 0px;
$page-bg-y: 0px;
$page-bg-offset-x: 0px;
$page-bg-offset-y: 0px;
$page-bg-width: 1440px;
$page-bg-height: 821px;
$page-bg-total-width: 2021px;
$page-bg-total-height: 1816px;
$page-bg-image: 'sprite.png';
$page-bg: (0px, 0px, 0px, 0px, 1440px, 821px, 2021px, 1816px, 'sprite.png', 'page-bg', );
$safari-name: 'safari';
$safari-x: 1440px;
$safari-y: 966px;
$safari-offset-x: -1440px;
$safari-offset-y: -966px;
$safari-width: 256px;
$safari-height: 256px;
$safari-total-width: 2021px;
$safari-total-height: 1816px;
$safari-image: 'sprite.png';
$safari: (1440px, 966px, -1440px, -966px, 256px, 256px, 2021px, 1816px, 'sprite.png', 'safari', );
$shape-name: 'shape';
$shape-x: 1696px;
$shape-y: 966px;
$shape-offset-x: -1696px;
$shape-offset-y: -966px;
$shape-width: 130px;
$shape-height: 190px;
$shape-total-width: 2021px;
$shape-total-height: 1816px;
$shape-image: 'sprite.png';
$shape: (1696px, 966px, -1696px, -966px, 130px, 190px, 2021px, 1816px, 'sprite.png', 'shape', );
$t-group-name: 't-group';
$t-group-x: 1440px;
$t-group-y: 0px;
$t-group-offset-x: -1440px;
$t-group-offset-y: 0px;
$t-group-width: 581px;
$t-group-height: 483px;
$t-group-total-width: 2021px;
$t-group-total-height: 1816px;
$t-group-image: 'sprite.png';
$t-group: (1440px, 0px, -1440px, 0px, 581px, 483px, 2021px, 1816px, 'sprite.png', 't-group', );
$twitter-name: 'twitter';
$twitter-x: 1884px;
$twitter-y: 1006px;
$twitter-offset-x: -1884px;
$twitter-offset-y: -1006px;
$twitter-width: 29px;
$twitter-height: 29px;
$twitter-total-width: 2021px;
$twitter-total-height: 1816px;
$twitter-image: 'sprite.png';
$twitter: (1884px, 1006px, -1884px, -1006px, 29px, 29px, 2021px, 1816px, 'sprite.png', 'twitter', );
$v-group-name: 'v-group';
$v-group-x: 581px;
$v-group-y: 821px;
$v-group-offset-x: -581px;
$v-group-offset-y: -821px;
$v-group-width: 581px;
$v-group-height: 483px;
$v-group-total-width: 2021px;
$v-group-total-height: 1816px;
$v-group-image: 'sprite.png';
$v-group: (581px, 821px, -581px, -821px, 581px, 483px, 2021px, 1816px, 'sprite.png', 'v-group', );
$w-group-name: 'w-group';
$w-group-x: 0px;
$w-group-y: 821px;
$w-group-offset-x: 0px;
$w-group-offset-y: -821px;
$w-group-width: 581px;
$w-group-height: 483px;
$w-group-total-width: 2021px;
$w-group-total-height: 1816px;
$w-group-image: 'sprite.png';
$w-group: (0px, 821px, 0px, -821px, 581px, 483px, 2021px, 1816px, 'sprite.png', 'w-group', );
$spritesheet-width: 2021px;
$spritesheet-height: 1816px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($back, $chrome, $close, $facebook, $favicon, $hamburger, $linkedin, $location, $logo, $n-group, $page-bg, $safari, $shape, $t-group, $twitter, $v-group, $w-group, );
$spritesheet: (2021px, 1816px, 'sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
