@font-face {
	font-family: "myfont";
	src: url('../fonts/myFont/myfont.eot');
	src: url('../fonts/myFont/myfont.eot?#iefix') format('eot'),
		url('../fonts/myFont/myfont.woff2') format('woff2'),
		url('../fonts/myFont/myfont.woff') format('woff'),
		url('../fonts/myFont/myfont.ttf') format('truetype'),
		url('../fonts/myFont/myfont.svg#myfont') format('svg');
}

.icon:before {
	font-family: "myfont";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.icon-map:before {
	content: "\E001";
}
