/* Standard syntax */
@keyframes left-3 {
  0%   { @include transform(rotate(0)); }
  15%  { @include transform(rotate(-90deg)); }
  25%  { @include transform(rotate(-180deg)); }
  40%  { @include transform(rotate(-270deg)); }
  50% { @include transform(rotate(-360)); }
  65%   { @include transform(rotate(-270)); }
  75%  { @include transform(rotate(-180deg)); }
  85%  { @include transform(rotate(-90deg)); }
  100%  { @include transform(rotate(0deg)); }
}

@keyframes left-4 {
  0%   { @include transform(rotate(0)); }
  15%  { @include transform(rotate(-90deg)); }
  25%  { @include transform(rotate(-180deg)); }
  40%  { @include transform(rotate(-270deg)); }
  50% { @include transform(rotate(-360)); }
  65%   { @include transform(rotate(-270)); }
  75%  { @include transform(rotate(-180deg)); }
  85%  { @include transform(rotate(-90deg)); }
  100%  { @include transform(rotate(0deg)); }
}

@keyframes right-3 {
  0%   { @include transform(rotate(0)); }
  15%  { @include transform(rotate(90deg)); }
  25%  { @include transform(rotate(180deg)); }
  40%  { @include transform(rotate(270deg)); }
  50% { @include transform(rotate(360)); }
  65%   { @include transform(rotate(270)); }
  75%  { @include transform(rotate(180deg)); }
  85%  { @include transform(rotate(90deg)); }
  100%  { @include transform(rotate(0deg)); }
}

@keyframes right-4 {
  0%   { @include transform(rotate(0)); }
  15%  { @include transform(rotate(90deg)); }
  25%  { @include transform(rotate(180deg)); }
  40%  { @include transform(rotate(270deg)); }
  50% { @include transform(rotate(360)); }
  65%   { @include transform(rotate(270)); }
  75%  { @include transform(rotate(180deg)); }
  85%  { @include transform(rotate(90deg)); }
  100%  { @include transform(rotate(0deg)); }
}

.services {
	max-width: 1200px;
	width: auto;
	position: relative;

	.page-container {
		.col-sm-12 {
			@media only screen and (max-width: 480px) {
				padding: 0px;
			}
		}
	}

	.content {
		font-size: 16px;

		@media only screen and (max-width: 480px) {
			margin-top: 16px !important;
			font-size: 14px;
		}
	}

	.services-list {
		padding: 0px;
		margin: 0px;

		li {
			display: block;
			list-style: none;
			font-size: 16px;

			@media only screen and (max-width: 480px) {
				font-size: 14px;
			}
		}
	}
}

i.shape {
	position: absolute;
	left: 100%;

	img {
		position: absolute;
		top: 0px;
		left: 0px;

		&.r1 {
			width: 151px;
			height: 150px;
		}

		&.r2 {
			width: 222px;
			height: 150px;
		}

		&.r3 {
			width: 134px;
			height: 150px;
		}

		&.r5 {
			width: 147px;
			height: 150px;
		}

		&.r6 {
			width: 124px;
			height: 150px;
		}

		&.r7 {
			width: 121px;
			height: 150px;
		}

		&.r9 {
			width: 142px;
			height: 150px;
		}

		&.r10 {
			width: 120px;
			height: 135px;
		}

		&.r13, &.r14, &.r15, &.r16, &.r17 {
			width: 112px;
			height: 150px;
		}

		&.l1 {
			width: 328px;
			height: 220px;
		}

		&.l2 {
			width: 150px;
			height: 150px;
		}

		&.l4 {
			width: 230px;
			height: 144px;
		}

		&.l5 {
			width: 152px;
			height: 150px;
		}

		&.l6 {
			width: 122px;
			height: 150px;
		}

		&.l8 {
			width: 120px;
			height: 97px;
		}

		&.l9 {
			width: 120px;
			height: 121px;
		}

		&.l10 {
			width: 160px;
			height: 99px;
		}

		&.left {
			-webkit-animation: left-3 155s infinite; /* Safari 4.0 - 8.0 */
    	animation: left-3 155s infinite;
    	animation-timing-function: linear, ease;
		}

		&.left-2 {
			-webkit-animation: left-4 125s infinite; /* Safari 4.0 - 8.0 */
    	animation: left-4 125s infinite;
    	animation-timing-function: linear, ease;
		}

		&.right {
			-webkit-animation: right-3 105s infinite; /* Safari 4.0 - 8.0 */
    	animation: right-3 105s infinite;
    	animation-timing-function: linear, ease;
		}

		&.right-2 {
			-webkit-animation: right-4 125s infinite; /* Safari 4.0 - 8.0 */
    	animation: right-4 125s infinite;
    	animation-timing-function: linear, ease;
		}
	}

	&.left1 {
		top: 376px;
  	left: 52px;
	}

	&.left2 {
		top: 55px;
  	left: 143px;
	}

	&.left3 {
		top: 233px;
  	left: 305px;
	}

	&.left4 {
		top: 353px;
  left: 433px;
	}

	&.left5 {
		top: 286px;
  	left: 413px;
	}

	&.left6 {
		top: 402px;
  	left: 500px;
	}

	&.left7 {
		top: 532px;
  	left: 409px;
	}

	&.left8 {
		    top: 308px;
  left: 810px;
	}

	&.left9 {
		    top: 680px;
  left: 760px;
	}

	&.left10 {
		    top: 360px;
  right: 140px;
  left: initial;
	}

	&.right1 {
		top: 441px;
  	right: 0;
	}

	&.right2 {
		top: 364px;
  	left: 641px;
	}

	&.right3 {
		top: 50px;
    right: 100px;
    left: initial;
	}

	&.right4 {
		top: 431px;
  	left: 603px;
	}

	&.right5 {
		top: 261px;
    left: initial;
    right: 370px;
	}

	&.right6 {
		top: 524px;
  left: initial;
  right: 590px;
	}

	&.right7 {
		top: 269px;
  	left: 829px;
	}

	&.right8 {
		top: 708px;
  	left: 413px;
	}

	&.right9 {
		top: 544px;
  left: initial;
  right: 224px;
	}

	&.right10 {
		top: 777px;
  	left: 550px;
	}

	&.right11 {
		top: 477px;
  	left: 939px;
	}

	&.right12 {
		top: 532px;
  	left: 870px;
	}

	&.right13 {
		top: 164px;
  	left: 1021px;
	}

	&.right14 {
		top: 736px;
  	left: 921px;
	}

	&.right15 {
		top: 456px;
  	left: 801px;
	}

	&.right16 {
		top: 246px;
  	left: 651px;
	}

	&.right17 {
		top: 46px;
  	left: 481px;
	}
}