<!doctype html>
html(lang="en")
head
  meta(charset="utf-8")
  title Orfs
  meta(name="description" content="The HTML5 Herald")
  meta(name="author" content="SitePoint")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  link(rel="shortcut icon" href="../../images/png/favicon.ico")
  link(rel="stylesheet" href="../../styles/css/main.css?v=1.0")

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->

  body
    include ../partial/header

    block content

    script(type="text/javascript" src='../../build/vendors.js')
    script(type="text/javascript" src='../../build/all.js')